html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.app {
  background-color: #e5e5e5;
  max-width: 1326px;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 1340px) {
  .app {
    flex-direction: column-reverse;
  }
}
.app .content {
  max-width: 970px;
  margin: 0 auto;
  width: 100%;
}

.Frame1 {
  display: flex;
  background: white;
  padding: 0px 0px;
  background-image: url("../assets/Mask_Group.svg");
}
@media screen and (max-width: 680px) {
  .Frame1 {
    flex-direction: column;
  }
}
.Frame1_image {
  display: flex;
  justify-content: center;
}
/* static size from figma */
.Frame1_image_style {
  width: 400px;
  height: auto;
}
.Frame1_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  margin-left: 170px;
}
.Frame1_logo {
  margin: 26px 0px 36px 0px;
  height: 101px;
  width: 197px;
}
.Frame1_logo_size {
  height: 101px;
  width: 197px;
}
.Frame1_title2_style {
  font-size: 2rem;
  color: #2b2b2b;
  margin: 8px 0;
  font-weight: bold;
}
.Frame1_title1_style {
  color: #e15151;
  font-size: 1rem;
}
.Frame1_text {
  font-size: 0.7rem;
  color: #6c6c6c;
  margin: 20px 5px;
  margin-right: 40px;
  line-height: 12px;
  text-transform: capitalize;
}
.Frame1_action {
  margin: 16px 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.Frame1_button_text_color {
  color: #ffffff;
}
.Frame1 button {
  padding: 16px 32px;
  background-color: #e15151;
  text-align: center;
  border: none;
  border-radius: 83px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}
  
.Frame2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  background-color: white;
  padding: 0 60px;
}
@media screen and (max-width: 680px) {
  .Frame2 {
    flex-direction: column;
  }
.Frame2 button {
  padding: 10px 22px;
  background-color: #e15151;
  text-align: center;
  border: none;
  height: 35px;
  border-radius: 80px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  margin-top: -50px;
}
.Frame2_action {
  margin: 16px 0;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  width: 100%;
}
.Frame2_button_style {
  color: #ffffff;
}
.Frame2_content {
  justify-content: center;
  margin: 0 275px;
}
.Frame2_content_size {
  width: 300px;
  height: 100px;
  background-color: #c6c6c6;
  border-radius: 0 0 20px 20px;
}
.Frame2_title {
  font-size: 2rem;
  font-weight: 700;
  color: #2b2b2b;
  align-items: center;
  padding: 9px 0px 0px 0px;
  margin: 0px 40px 14px 34px;
}
.Frame2_text {
  font-size: 0.9rem;
  font-weight: 700;
  color: #e15151;
  align-items: center;
  margin: 0 20px 10px 80px;
}
.Frame2_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.Frame2 .sections {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin: 40px 0px;
}
.Frame2 .sections_image {
  width: 120px;
  height: 110px;
  margin: 0px 0px 20px 0px;
}
.Frame2 .sections_title {
  color: #252525;
  text-transform: capitalize;
  font-weight: bold;
  max-width: 250px;
  font-size: small;
  text-align: center;
  width: 163px;
  margin-bottom: 10px;
}
.Frame2 .sections_text {
  color: #7c7b7b;
  max-width: 250px;
  font-size: x-small;
  width: 163px;
  line-height: 12px;
  text-transform: capitalize;
  text-align: center;
}
