@import './_variables.scss';
.Frame3 {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/backred.svg');
    background-color: $maincolorporang;
    background-size: cover;
    padding: 0 60px;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 680px) {
        flex-direction: column;
    }
    button {
        padding: 5px 32px;
        margin: 10px 0px;
        background-color: $maincolorporang;
        text-align: center;
        border: none;
        border-radius: 83px;
        font-weight: 500;
        font-style: normal;
        cursor: pointer;
    }
    &_action {
        margin: 16px 0;
        display: flex;
        justify-content: flex-start;
        justify-content: center;
        width: 100%;
        &__text{
          color: $bgColor;
        }
    }
    &_title {
        font-size: 2rem;
        font-weight: 700;
        color: $secondary;
        align-items: center; 
        padding: 9px 0px 0px 0px;
        margin: 0px 40px 14px 34px;
    }
    &_content {
        justify-content: center;
        margin: 0 275px;
        &__size{
            display: flex;
            flex-direction: column;
            width: 638px;
            height: 381x;
            background-color: #ffffff;
            border-radius: 47px 47px 0 0;
            margin: 40px 0px 0px 0px;
            &_image {
                display: flex;
                justify-content: left;
                @media screen and (max-width: 680px) {
                    flex-direction: column;     
                }
                &__size{
                    width: 283px;
                    height: auto;
                }
            }
            &_text{
                margin: 0px 40px 0px 34px;
                &__header{
                    color: $secondary;
                    font-size: 2.5rem;
                    font-weight: 200;
                    font-family:  monospace;
                }
            }
        }
        &_title11_style {
            justify-content: center;
            align-items: center; 
            padding: 9px 0px 0px 0px;
            margin: 0px 40px 14px 34px;
            &__header{
                color: $secondary;
                font-size: 2.5rem;
                font-weight: 700;
            }
            &_title2_style{
                color: $secondary;
                font-size: 1rem;
                padding: 10px 30px 0px 30px;
                
            }
        }
    }
}