
@import './_variables.scss';

.Frame2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 0 60px;

    &_content {
        justify-content: center;
        margin: 0 275px;
        &_size{
            width: 300px;
            height: 100px;
            background-color: #c6c6c6;
            border-radius: 0 0 20px 20px;
        }
        &_title {
            font-size: 2rem;
            font-weight: 700;
            color: $secondary;
            align-items: center; 
            padding: 9px 0px 0px 0px;
            margin: 0px 40px 14px 34px;
        }
        &_text {
            font-size: 0.9rem;
            font-weight: 700;
            color: $maincolorporang;
            align-items: center; 
            margin: 0 20px 10px 80px;
        }
    }
    
    &_sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }
    &_action {
        margin: 16px 0;
        display: flex;
        justify-content: flex-start;
        justify-content: center;
        width: 100%;
        &__text{
          color: $bgColor;
        }
    }
    .section_text{
        display: flex;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        margin: 40px 0px;

        &_section_image {
            width: 120px;
            height: 120px;
            border: 8px solid $maincolorporang;
            border-radius: 79px;
            margin: 0px 0px 20px 0px;
        }
    
        &_title1_style {
          color: $secondary;
          text-transform: capitalize;
          font-weight: bold;
          max-width: 250px;
          text-align: center;
          width: 163px;
        }
        &_title2_style {
            color: #767676;
            max-width: 250px;
            width: 163px;
            line-height: 20px;
            text-transform: capitalize;
            text-align: center;

        }
        
    }
    button {
        padding: 16px 32px;
        background-color: $maincolorporang;
        text-align: center;
        border: none;
        border-radius: 83px;
        font-weight: 500;
        font-style: normal;
        cursor: pointer;
      }

}

